.wrapper {
    background-color: var(--login-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: var(--background-color);
    padding: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-box {
    width: 100%;
}

.login-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 100%;
    height: auto;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1.5rem;
    font-weight: 400;
    transition: 0.3s;
}

input:focus {
    border-color: var(--thin-text-color);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, var(--text-color), var(--text-hover-color));
    border: none;
    color: var(--background-color);
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.login-btn:hover {
    background: linear-gradient(135deg, #0056b3, #004494);
}

.error-message {
    color: red;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}


