table {
        margin: 40px auto 0;
        min-width: 1500px;
        min-height: 75vh;
        border-collapse: collapse;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 1.8rem;
        table-layout: fixed;
}

th,
td {
        border: 1.5px solid #ddd;
        padding: 12px;
        width: calc(100% / 7);
}

th {
        background-color: #f8f9fa;
        font-weight: 700;
        padding: 10px 0;
}

td {
        background-color: #cccccc !important;
        font-weight: 400;
}

td:first-child {
        font-weight: 500;
}

tr th:first-child,
tr td:first-child {
        width: 15%;
}
